
:root {
 --basic-white: #ffffff;
 --basic-black: #000000; 
 
 --special:#A9A9A9;
 --gray-frame:#EEEEEE;
 --cloud-gray:#EBEBEB;
 --gray-frame:#E5E5E5;
 
 --dark-blue:#5496BD;
 --classic-blue:#669EC0;
 --baslight-blue:#81B3D2;
 
 --basic-dark-grey:#333333;
 --classic-gray:#666666;
 --light-gray:#F2F2F2;
 
 --button-light:#766357;
 --button-classic:#604E43;
 --button-dark:#503E33;
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.photo-sedona{
 background-color: var(--basic-black);
 background-image: url('../img/background.jpg');
 background-repeat: no-repeat;
 background-size: 100%;
 height: 509px;
}

.inscription::after{ /* белый козырек не вытягивается по картинке */
 content:"";
 background-image: url('../img/visor.png');
 position: absolute;
 background-repeat: no-repeat;
 background-size: 100%;
 width: 1200px;
 height: 57px;
 bottom:-60px;

}

.site-navigation a{
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.field {
 background-color: var(--basic-white);	
}

.navigation-field {
 list-style: none;
}

.working a:hover,
.working a:focus{
 color:var(--baslight-blue);		
}

.working a:active{
 color:var(--basic-black);
 opacity: 0.3; 
}

.the-only a:visited {
 color:var(--button-light);
}

.cell::placeholder {
 color:var(--basic-black);
 font-size: 14px;
 line-height: 26px;
 font-weight: bold;
 } 

.hotel a {
 color:var(--basic-black);
 font-size: 21px;
 line-height: 26px;
}

.description:hover h3,
.description:focus h3{
color:var(--baslight-blue); 
}

.description:active h3{
 color:var(--basic-black);
 opacity: 0.3; 
}

.cost {
 font-size: 14px;
 line-height: 21px;
 font-weight: normal;
}

.blue a {
 background-color:var(--baslight-blue);
 width: 110px;
 height: 27px;
}

.blue a:hover,
.blue a:focus {
 background-color:var(--classic-blue);
 width: 110px;
 height: 27px;
}

.blue a:active {
 background-color:var(--dark-blue);
 width: 110px;
 height: 27px;
}

.details {
 color:var(--basic-white);
 font-size: 14px;
 line-height: 21px;
 padding-top:3px;
 padding-right:16px;
 padding-bottom:3px;
 padding-left:17px;
}

.details:active {
 color:var(--basic-white);
 opacity: 0.3;
 font-size: 14px;
 line-height: 21px;
 padding-top:3px;
 padding-right:16px;
 padding-bottom:3px;
 padding-left:17px;
}

.dark-grey a {
 background-color:var(--button-light);
 width: 142px;
 height: 27px;                                      
}

.dark-grey a:hover,
.dark-grey a:focus {
 background-color:var(--button-classic);
 width: 142px;
 height: 27px;                                      
}

.dark-grey a:active {
 background-color:var(--button-dark);
 width: 142px;
 height: 27px;                                      
}

.to-book {
 color:var(--basic-white);
 font-size: 14px;
 line-height: 21px;
 padding-top:3px;
 padding-right:17px;
 padding-bottom:3px;
 padding-left:16px;
}

.to-book:active {
 color:var(--basic-white);
 opacity: 0.3;
 font-size: 14px;
 line-height: 21px;
 padding-top:3px;
 padding-right:17px;
 padding-bottom:3px;
 padding-left:16px;
}

.rating{
  background-color:var(--light-gray);
  width: 110px;
  height: 27px;
  color:var(--classic-gray);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-top:3px;
  padding-right:12px;
  padding-bottom:3px;
  padding-left:15px;
}

.starf::after { /* 4 звезды*/
 content:"";
 background-image:url('../img/star.svg');
 background-repeat:repeat-x;
 position: relative;
 background-position:right;
 bottom:-5px;
 width:75px;
 height:30px;
 
}

.stars::after {  /* 3 звезды*/
 content:"";
 background-image:url('../img/star.svg');
 background-repeat:repeat-x;
 position: relative;
 background-position:right;
 bottom:-35px;
 width:58px;
 height:30px;
 
}

.start::after {  /* 2 звезды*/
 content:"";
 background-image:url('../img/star.svg');
 background-repeat:repeat-x;
 position: relative;
 background-position:right;
 bottom:-55px;
 width:40px;
 height:30px;
 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
 background-color:var(--baslight-blue);
 width: 400px;
 height: 256px;
}

.insertion {
 color:var( --basic-white);
 font-size: 21px;
 line-height: 21px;
 text-align: center;
}

.insert-description {
 color:var( --basic-white);
 text-align: center;
 font-weight: normal;
}

.continuation {
 font-size: 21px;
 line-height: 21px;
 text-align: center;
}

.sentence {
 color:var(--basic-dark-grey);
 font-weight: normal;
 text-align: center;
}

.housing-description::before {
 content:"";
 background-image:url('../img/icon-1.svg');
 background-repeat:no-repeat;
 position:absolute;
 width:75px;
 height:72px;
}

.food-description::before{
 content:"";
 background-image:url('../img/icon-3.svg');
 background-repeat:no-repeat;
 position:absolute;
 width: 75px;
 height: 70px;
}

.souvenir::before {
 content:"";
 background-image:url('../img/icon-2.svg');
 background-repeat:no-repeat;
 position:absolute;
 width: 64px;
 height: 77px;
}

.gray-background {
 background-color:var(--gray-frame);
 width: 1200px;
 height: 256px;
}

.advantages {
 text-align: center;
}

.introduction {
 font-size: 21px;
 line-height: 26px;
}

.description-sedona {
 line-height: 26px;
 color:var(--basic-dark-grey); 
 font-weight: normal;
}

.interest {
 font-size: 30px;
 line-height: 24px;
}

.reserv {
 line-height: 24px;
 font-weight: normal;
 color:var(--basic-dark-grey);
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  outline: none;
}

.form {
 text-align: center; 
 background-color:var(--basic-white);
 width: 568px;
 height: 395px;

}

.button-element {
 background-image:url('../img/calendar.svg');
 background-repeat:no-repeat;
 background-color:transparent;
 border:none;
 width: 21px;
 height: 23px;
 padding:15px;
}

.button-element:hover,
.button-element:focus {
 background-image:url('../img/calendar-black.svg');
 background-repeat:no-repeat;
 background-color:transparent;
 border:none;
 width: 21px;
 height: 23px;
 padding:15px;
}

.button-element:active {
 background-image:url('../img/calendar-blue.svg');
 background-repeat:no-repeat;
 background-color:transparent;
 border:none;
 width: 21px;
 height: 23px;
 padding:15px;
}

.minus-button {
 background-image:url('../img/rectangle.svg');
 background-repeat:no-repeat;
 background-color:transparent;
 border:none;
 width:12px;
 height:3px;
 padding:10px;
}

.minus-button:hover,
.minus-button:focus {
 background-image:url('../img/minus-black.svg');
 background-repeat:no-repeat;
 background-color:transparent;
 border:none;
 width:12px;
 height:3px;
 padding:10px;
}

.minus-button:active {
 background-image:url('../img/minus-blue.svg');
 background-repeat:no-repeat;
 background-color:transparent;
 border:none;
 width:12px;
 height:3px;
 padding:10px;
}

.plus-button {
  background-image:url('../img/union.svg');
  background-repeat:no-repeat;
  background-color:transparent;
  border:none;
  padding:10px;
}

.plus-button:hover,
.plus-button:focus {
  background-image:url('../img/plus-black.svg');
  background-repeat:no-repeat;
  background-color:transparent;
  border:none;
  padding:10px;
}

.plus-button:active {
  background-image:url('../img/plus-blue.svg');
  background-repeat:no-repeat;
  background-color:transparent;
  border:none;
  padding:10px;
}

.search {
 font-size: 21px;
 line-height: 26px;
 background-color:var( --button-light);
 width: 568px;
 height: 86px;
}

.search:hover,
.search:focus {
 background-color:var( --button-classic);	
}

 .search:active {
 background-color:var( --button-dark); 
}

.search:active span{
 color:var(--basic-white); 
 opacity: 0.3;
}

.cell {
 background-color:var(--light-gray);
 border: none;
}

.cell-big {
 width: 346px;
 height: 38px;
}

.cell-little {
 width: 114px;
 height: 38px;
}

.cell:hover {
 background-color:var(--cloud-gray);
}

.cell:focus {
 background-color:var(--basic-white);
 border: 2px solid var(--gray-frame);
}

.element {
 color:var(--special);
}

.element:hover,
.element:focus{
 color:var( --basic-black);
}

.element:active {
 color:var( --baslight-blue);
}

.to-find {
 width: 458px;
 height: 58px;
 background-color:var(--baslight-blue);
 font-size: 21px;
 line-height: 26px;
}

.to-find:hover,
.to-find:focus{
 background-color:var(--classic-blue);
}

.to-find:active{
 background-color:var(--dark-blue);
}

.to-find:active span{
 color:var(--basic-white); 
 opacity: 0.3;
}

.blurred-background {
 background-image: url('../img/diffuse.jpg');
 background-repeat: no-repeat;
 background-size:100%;
 width:100%;
}

.field {
 border:none;
 background:none;
}

.substrate {
 background-color:var( --special);
}

.filtration {
 color:var(--basic-white);
 font-size: 16px;
 line-height: 21px;
}

.services {
 color:var(--basic-white);
 font-weight: normal;
 text-transform: uppercase;
}

.transparent {
 background-color:transparent;
 color:var(--basic-white);
 border: 2px solid var(--basic-white);
 box-sizing: border-box;
 width: 317px;
 height: 36px;
}

.display {
 background-color:transparent;
 color:var(--basic-white);
 text-transform: uppercase;
 border: 2px solid var(--basic-white);
 box-sizing: border-box;
 border-radius: 2px;
 width: 137px;
 height: 36px;
}

.bottom-filter{
 background-color:var(--basic-white);
}
 
 
/* не меняются цвета */
 
.preferences a {
 color:var(--basic-black);
 opacity: 0.3;
 font-size: 12px;
 line-height: 18px;
 border-bottom: 1px dotted var(--baslight-blue);
}

.preferences a:hover,
.preferences a:focus {
 color:var(--baslight-blue);
 font-size: 12px;
 line-height: 18px;
 border-bottom: 1px dotted var(--baslight-blue);
}

.preferences:active a{
 color:var(--basic-black);
 font-size: 12px;
 line-height: 18px;
}

.preferences:visible a{
 color:var(--basic-black);
 font-size: 12px;
 line-height: 18px;
}

.contacts {
 font-size: 21px;
 line-height: 26px;
}

.tel {
 color:var( --basic-black);
}

.connection a{
 background-color:var(--dark-blue);
 width:46px;
 height:48px;
}
 
.connection:hover a,
.connection:focus a{
 background-color:var(--classic-blue);
 width:46px;
 height:48px;
}

.connection:active a{
 background-color:var(--baslight-blue);
 width:46px;
 height:48px;
}
 
.twit {  /* как поставить по середине*/
 background-image: url('../img/twitter.svg');
 background-repeat: no-repeat;
 position: absolute;
 width:17px;
 height:17px;
}

.twit:active{  /* как поставить по середине и менять цвет при нажатии*/
 background-image: url('../img/twitter.svg');
 opacity: 0.3;
}

.fb {	
 background-image: url('../img/fb-icon.svg');
 background-repeat: no-repeat;
 position: absolute;
 width:12px;
 height:22px;
 margin:70px;
}

.youtube {
 background-image: url('../img/youtube.svg');
 background-repeat: no-repeat;
 position: absolute;
 width:20px;
 height:16px;
 margin:130px;
}

.active-button:hover img,
.active-button:focus img {  /* логотип академии*/
background-image: url('../img/logo-htmlacademy.svg'); 
background-repeat: no-repeat;
background-size:100%;
}

.active-button:active img { /* логотип академии*/
 background-color:var(--basic-black);
 opacity: 0.3; 
}
 