*, *::before, *::after { box-sizing: border-box; }

:root {
 --basic-white: #ffffff;
 --basic-black: #000000; 
 
 --grey:#BDBBBC;
 --gray-special:rgba(0, 0, 0, 0.3); 
 --translucent-white:rgba(255, 255, 255, 0.9);
 --transparent:rgba(255, 255, 255, 0.3);  
 
 --special:#A9A9A9;
 --gray-frame:#EEEEEE;
 --cloud-gray:#EBEBEB;
 --gray-frame:#E5E5E5;
 
 --dark-blue:#5496BD;
 --classic-blue:#669EC0;
 --baslight-blue:#81B3D2;
 
 --basic-dark-grey:#333333;
 --classic-gray:#666666;
 --light-gray:#F2F2F2;
 
 --button-light:#766357;
 --button-classic:#604E43;
 --button-dark:#503E33;
}

body {
 min-width:1200px;  /*почему не 1280*/
 margin:0;
 padding:0;
 font-family:"PT Sans", Arial, sans-serif;
 font-size:14px;
 line-height:21px;
 font-weight:700;
 color: var(--basic-black);
 text-transform: uppercase;
 background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.top-of-page {
 width:1200px;
 margin:0 auto;
}

.mid-wrapper {
 margin:0 auto;
 padding:0;
}

.logo {
 position:absolute;
 width:138px;
 height:70px;
}

.navigation{
  display:flex;
  justify-content:space-between;
  width:1200px;
  min-height:56px;
  margin:0;
  padding:0;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:72px;
  padding-right:72px;
}

.navigation li {
 width:216px;
}

.navigation li:nth-child(2){
 margin-right: 150px;
}

.navigation li:nth-child(3),
.navigation li:nth-child(4){
 text-align:right;
}

.navigation li:nth-child(3){
margin-left: 7px;
}

.navigation-links {
 max-width: 1200px;
 margin: 0 auto;
}

.photo-sedona{
 background-color: var(--basic-black);
 background-image: url('../img/background.jpg');
 background-repeat: no-repeat;
 background-size: 100%;
 width:1200px;
 height: 509px;
 margin: 0 auto;
}

.inscription {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 height:509px;
}

.inscription img {
 position:absolute;
 margin:0 auto;
 top:134px;
}

.inscription::after{ 
 content:"";
 background-image: url('../img/visor.png');
 position:absolute;
 background-repeat: no-repeat;
 background-size: 100%;
 width: 1200px;
 height: 57px;
 margin-top:226px;
}

.site-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation a{
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.navigation-list {
 margin:0 auto;
 padding:0;
}

.field,
.fields,
.navigation-list,
.navigation-basement,
.search-filter {
 list-style: none;
}

.working a:hover,
.working a:focus{
 color:var(--baslight-blue);		
}

.working a:active{
 color:var(--basic-black);
 opacity: 0.3; 
}

.advantages {
 display:flex;
 flex-direction:column;
 justify-content:space-around;
 align-items:center;
 width:1200px;
 height:216px;
 margin:0 auto;
}

.first-form {
 height:291px;
}

.search-header {
 min-width:435px;
 min-height:157px;
}

.the-only a:visited {
 color:var(--button-light);
}

.hotel {
 margin:0;
 padding:0;
}

.hotel a {
 color:var(--basic-black);
 font-size: 21px;
 line-height: 26px;
}

.description h3,
.found h3 {
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 margin:0;
}

.found h3 {
 margin-top:29px;
 margin-right:46px;
 margin-bottom:31px;
 margin-left:73px;
}

.sorting {
 font-weight: normal;
 font-size: 12px;
 line-height: 18px;
 margin-top:31px;
 margin-right:40px;
 margin-bottom:37px;
}

.parameters {
 display:flex;
 flex-wrap:wrap;
 align-items:center;
 min-width:780px;
 margin:0;
 padding:0;
 padding-bottom:10px;
}

.description:hover h3,
.description:focus h3{
color:var(--baslight-blue); 
}

.description:active h3{
 color:var(--basic-black);
 opacity: 0.3; 
}

.cost {
 font-size:14px;
 line-height:21px;
 font-weight:normal;
 color:var( --basic-dark-grey);
 margin-bottom:15px;
}

.price-of-service{
 padding-left: 38px;
}

.price-of-service-2 {
 padding-left: 65px;
}

.price-of-service-3 {
 padding-left: 23px;
}

.blue {
 display: inline-block;
}

.blue a {
 background-color:var(--baslight-blue);
}

.blue a:hover,
.blue a:focus {
 background-color:var(--classic-blue);
}

.blue a:active {
 background-color:var(--dark-blue);
}

.link {
 vertical-align:middle;
 padding-right:16px;
 padding-bottom:2px;
 padding-left:17px;
}

.link-2 {
 vertical-align:middle;
 padding-right:16px;
 padding-bottom:2px;
 padding-left:17px;
}

.details {
 color:var(--basic-white);
 font-size: 14px;
 line-height: 21px;
}

.details:active {
 color:var(--basic-white);
 opacity: 0.3;
}

.dark-grey {
 display:inline-block;
 margin-left:4px;
}

.dark-grey a { 
 background-color:var(--button-light);                                     
}

.dark-grey a:hover,
.dark-grey a:focus {
 background-color:var(--button-classic);                                  
}

.dark-grey a:active {
 background-color:var(--button-dark);                                   
}

.to-book {  
 color:var(--basic-white);
 font-size: 14px;
 line-height: 21px;
}

.to-book:active {
 color:var(--basic-white);
 opacity: 0.3;
}

.container{
 margin-top: 27px;
 margin-right:73px;	
}

.rating{
  background-color:var(--light-gray);
  width: 110px;
  height: 27px;
  color:var(--classic-gray);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-top:3px;
  padding-right:12px;
  padding-bottom:3px;
  padding-left:15px;
  position: relative;
  top: 41px;
}

.star-rating-4::before{ 
 content:"";
 background-image:url('../img/star.svg');
 background-repeat:repeat-x;
 display: block;
 width:75px;
 height:30px;
 position:relative;
 left:33px;
}

.star-rating-3::before {  
 content:"";
 background-image:url('../img/star.svg');
 background-repeat:repeat-x;
 display: block;
 width:58px;
 height:30px;
 position:relative;
 left:49px;
}

.star-rating-2::before {  
 content:"";
 background-image:url('../img/star.svg');
 background-repeat:repeat-x;
 display: block;
 width:38px;
 height:30px;
 position:relative;
 left:69px;
}   

.represented-hotels{
 margin:0 auto;
 padding:0;
 width:1200px;
 min-height:454px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.point-one {
 display:flex;
 justify-content:space-between;
 width:1200px;
}

.point-two {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 align-items:center;
 max-width:1200px;
 height: 324px;
}

.list {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 background-color:var(--baslight-blue);
 width: 400px;
 height: 256px;
}

.insertion {
 color:var( --basic-white);
 font-size: 21px;
 line-height: 21px;
 text-align: center;
 margin:0;
 padding-bottom:50px;
}

.bridge {
 color:var( --basic-white);
 font-size:21px;
 line-height:21px;
 text-align:center;
 margin:0;
 padding-bottom:12px;
}

.number-two {
 position:relative;
 top:10px;
}

.about-the-bridge{ 
 margin:0;
 padding-top:35px;
}

.insert-description {
 color:var( --basic-white);
 text-align:center;
 font-weight:normal;
}

.number-one{
 position:relative;
 bottom:25px;
}

.sedona-description{
 margin:0;
 padding-bottom:5px;
}

.continuation {
 font-size:21px;
 line-height:21px;
 text-align:center;
 margin:0;
 padding-top:13px;
}

.sentence {
 color:var(--basic-dark-grey);
 font-weight: normal;
 text-align: center;
 margin: 0;
 padding-top: 12px;
}

.about-souvenirs {
 padding-bottom: 7px;
}

.filter-button:hover path, 
.filter-button:focus path { 
 fill:var(--basic-black);
}

.filter-button:active path { 
 fill:var(--baslight-blue);
}

.starf{
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 align-items:flex-start;
 width:1200px;
 min-height:149px;
 margin:0 auto;
 border-bottom-width: 1px; 
 border-bottom-style: solid; 
 border-bottom-color: var(--gray-frame);
}

.stars {
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 align-items:flex-start;
 width:1200px;
 min-height:149px;
 margin:0 auto;
 border-bottom-width: 1px; 
 border-bottom-style: solid; 
 border-bottom-color: var(--gray-frame);
}

.start {
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 align-items:flex-start;
 width:1200px;
 min-height:149px;
 margin:0 auto;
 border-bottom-width: 1px; 
 border-bottom-style: solid; 
 border-bottom-color: var(--gray-frame);
}

.photo-amara,
.photo-desert,
.photo-villas {
 padding-left: 73px;
 padding-top: 30px;
}

.about-the-hotel {
 width: 271px;
 min-height: 92px;
 margin-right:500px;
}

.star-rating {
 display:block;
 padding-bottom: 47px;
}

.housing-description::before {
 content:"";
 background-image:url('../img/icon-1.svg');
 background-repeat:no-repeat;
 position:relative;
 bottom:15px;
 width:75px;
 height:72px;
}

.food-description::before{
 content:"";
 background-image:url('../img/icon-3.svg');
 background-repeat:no-repeat;
 position:relative;
 bottom: 15px;
 width: 75px;
 height: 70px;
}

.souvenir::before {
 content:"";
 background-image:url('../img/icon-2.svg');
 background-repeat:no-repeat;
 position:relative;
 bottom:14px;
 width:64px;
 height:77px;
}

.housing-description,
.food-description,
.souvenir {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
}

.point-three{
 display:flex;
 justify-content:space-between;
 width:1200px;
 height:256px;
}

.description-of-benefits {
 font-size:21px;
 line-height:21px;
 text-align:center;
 margin:0;
 margin-bottom:15px;
}
}

.detailed{
 margin:0;
 margin-top:25px;
}

.number-three,
.number-four,
.number-five {
 position:relative;
 bottom:10px;
}

.point-four {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 align-items:center;
 width:1200px;
 height: 256px;
}

.gray-background {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 background-color:var(--gray-frame);
 height: 256px;
}

.introduction {
 font-size:21px;
 line-height:26px;
 padding-top:22px;
 margin:0;
 width: 470px;
 min-height: 80px;
 text-align: center;
}

.description{
 margin-top: 23px;
 margin-bottom: 7px;
}

.description-sedona {
 line-height: 26px;
 color:var(--basic-dark-grey); 
 font-weight: normal;
 text-align:center;
 margin:0;
 margin-bottom:34px;
 width:519px;
 min-height:26px;
}

.real-city {
 margin:0 auto;
 width:1200px;
 min-height:1100px;
}

.interest {
 font-size:30px;
 line-height:24px;
 text-align:center;
 margin:0;
 padding:0;
 padding-top:31px;
}

.reserv {
 display:flex;
 flex-direction:column;
 align-items:center;
 line-height: 24px;
 font-weight: normal;
 color:var(--basic-dark-grey);
 text-align:center;
 margin:0;
 padding:0;
 padding-top:32px;
 min-width:435px;
 min-height:45px;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  outline: none;
}

.form {
 display: flex;
 flex-direction: column;
 align-items:center;
 position: absolute;
 width:568px;
 height:395px;
 left:50%;
 transform: translateX(-50%);
 background-color:var(--basic-white);
}

.form-functions {
 display: flex;
 justify-content:center;
 align-items:center;
 flex-wrap: wrap;
 width:568px;
 min-height:395px;
}

.form-functions p {
 margin:0;
}

.arrival-date {
 padding-top:25px;
}

.text {
 line-height:26px;
}


.button-element {
 background-color:transparent;
 border:none;
 position:relative;
 right:42px;
 top:5px;
}

.button-element:hover path,
.button-element:focus path {
 fill:var(--basic-black);
}

.button-element:active path {
 fill:var(--baslight-blue);
}

.minus-button {
 background-color:transparent;
 border:none;
 position:relative;
 top:-1px;
 left:33px;
}

.minus-button:hover path,
.minus-button:focus path {
 fill:var(--basic-black);
}

.minus-button:active path {
 fill:var(--baslight-blue);
}

.plus-button {
  background-color:transparent;
  border:none;
  position:relative;
  right:33px;
  top:2px;
}

.plus-button:hover path,
.plus-button:focus path {
 fill:var(--basic-black);
}

.plus-button:active path{
 fill:var(--baslight-blue);
}

.search {
 font-size:21px;
 line-height:26px;
 color:var(--basic-white);
 background-color:var( --button-light);
 width:568px;
 height:86px;
 margin-bottom:-25px;
}

.search:hover,
.search:focus {
 background-color:var( --button-classic);	
}

 .search:active {
 background-color:var( --button-dark); 
}

.search:active span{
 color:var(--basic-white); 
 opacity:0.3;
}

.cell {
 background-color:var(--light-gray);
 border:none;
 color:var(--basic-black);
 font-size:14px;
 line-height:26px;
 font-weight:bold;
}

.cell::placeholder {
 color:var(--basic-black);
 font-size:14px;
 line-height:26px;
 font-weight:bold;
 } 

.cell-big {
 width:346px;
 height:38px;
 text-transform:uppercase;
 line-height:26px;
 padding-left:10px;
}

.cell-little {
 width: 114px;
 height: 38px;
 text-transform:uppercase;
 line-height:26px;
 text-align:center;
}

.cell:active, 
.cell:hover,
.cell:focus {
 outline:0;
 outline-offset:0;
}

.cell:hover {
 background-color:var(--cloud-gray);
}

.cell:focus {
 background-color:var(--basic-white);
 border: 2px solid var(--gray-frame);
}

.cell:active {
 background-color:var(--basic-white);
 border: 2px solid var(--gray-frame);
}

.number-of-adults {
 padding-right:25px;
}

.number-of-children {
 padding-right:12px;
}

.element {
 color:var(--special);
}

.element:hover,
.element:focus{
 color:var( --basic-black);
}

.element:active {
 color:var( --baslight-blue);
}

.to-find {
 width:458px;
 height:58px;
 background-color:var(--baslight-blue);
}

.to-find-1 {
 color:var(--basic-white);
 font-size:21px;
 line-height:26px;
}

.to-find:hover,
.to-find:focus{
 background-color:var(--classic-blue);
}

.to-find:active{
 background-color:var(--dark-blue);
}

.to-find:active span{
 color:var(--basic-white); 
 opacity:0.3;
}

.blurred-background {
 background-color:var(--basic-dark-grey);
 background-image:url('../img/diffuse.jpg');
 background-repeat:no-repeat;
 width:1200px;
 min-height:217px;
 margin:0 auto;
}

.main-menu {
 width:1200px;
 border:none;
 background:none;
 background-color:var(--basic-white);	
}

.substrate {
 display:grid;
 grid-template-columns:200px 300px 600px; 
 width:1200px;
 min-height:217px;
 margin:0 auto;
}

.fields{
 border:none;
 margin:0;
 padding:0;
}

.filtration {
 color:var(--basic-white);
 font-size:16px;
 line-height:21px;
 padding-top:26px;
 padding-left:310px;
}

.infrastructure {
 padding-left:72px;
 padding-top:26px;
}

.search-filter {
 margin:0;
 padding:0;
 padding-left:112px;
 padding-top:24px;
}

.search-filter li,
.type-of-housing li{
 padding-bottom:25px;
}

.type-of-housing {
 padding:0;
 margin:0;
 padding-top:26px;
 padding-left:119px;
}

.type-of-housing li {
 padding-left:45px;
}

.cursor label {
 position:relative;
 display:block;
 cursor:pointer;
 user-select:none;
}

.filter-checkbox + label::before {
 content:"";
 position:absolute;
 left:-43px;
 background-image:url('../img/checkbox-off.svg');
 background-repeat:no-repeat;
 background-position:0 0;
 width:23px;
 height:23px;
}

.filter-checkbox:checked + label::after{
 content:"";
 position:absolute;
 left:-43px;
 background-image:url('../img/checkbox-on.svg');
 background-repeat:no-repeat;
 background-position:0 0;
 width:27px;
 height:23px;
}

.locked-checkbox + label::before {
 content:"";
 position:absolute;
 left:-43px;
 background-image:url('../img/locked-checkbox.svg');
 background-repeat:no-repeat;
 background-position:0 0;
 width:23px;
 height:23px;
}

.locked-checkbox:checked + label::after{
 content:"";
 position:absolute;
 left:-43px;
 background-image:url('../img/locked-checkbox-1.svg');
 background-repeat:no-repeat;
 background-position:0 0;
 width:27px;
 height:23px;
}

.services {
 color:var(--basic-white);
 font-weight:normal;
 text-transform:uppercase;
}

.transparent {
 background-color:transparent;
 color:var(--basic-white);
 font-weight:normal;
 font-size:14px;
 line-height:21px;
 border: 2px solid var(--basic-white);
 box-sizing:border-box;
 width:317px;
 height:36px;
}

.cost-block {
 padding-top:10px;
 padding-left:310px;
}

.cost-block::after {
 display: block;
 content: "";
 width:2px;
 height:22px;
 background-color:var(--basic-white);
 position: relative;
 bottom: 65px;
 left: 160px;
}

.from-zero {
 padding-left:36px;
}

.three-thousand {
 text-align:right;
 border:none;
 position:relative;
 width:130px;
 bottom: 37px;
 left: 180px;
 padding-right: 36px;
 outline:none;
}

.range-controls {
 position:relative;
 bottom:30px;
 left:310px;
 width:315px;
 height:2px;
}

.range-controls .scale {
 width:315px;
 height:2px;
 background-color:var(--transparent);
}

.range-controls .bar {
 width:87%;
 height:2px;
 background-color:var(--basic-white);
}

.range-controls .toggle {
 position:absolute;
 top:-8px;
 left:0;
 background-image:url(../img/filter-button.svg);
 background-repeat:no-repeat;
 width:19px;
 height:21px;
 cursor: pointer;
}

.range-controls .toggle-min {
  left:0px;
}

.range-controls .toggle-max {
  left:260px;
}

.toggle-min:hover,
.toggle-min:focus,
.toggle-max:hover,
.toggle-max:focus {
 background-image:url(../img/filter-big.svg);
 background-repeat:no-repeat;
 width: 23px;
 height: 24px;
}

.display {
 background-color:transparent;
 color:var(--basic-white);
 font-weight:normal;
 font-size:14px;
 line-height:21px;
 text-transform:uppercase;
 border:2px solid var(--basic-white);
 box-sizing:border-box;
 border-radius:2px;
 width:137px;
 height:36px;
 margin-left:397px;
}

.display:hover,
.display:focus {
 background-color:var(--basic-white);
 color:var(--basic-black);
 font-weight:normal;
 font-size:14px;
 line-height:21px;
}

.bottom-filter{
 display:flex;
 justify-content:flex-start;
 background-color:var(--basic-white);
 width:1200px;
 min-height:85px;
 margin:0 auto;
}
 
.preferences {
 margin-left:33px; 
 }
 
.parameters li:nth-child(3) {
 margin-left:34px;
 margin-right:510px;
}
 
.parameters li:nth-child(4){
 margin-right:12px;
}
 
.preferences a {
 color:var(--gray-special);
 font-size:12px;
 line-height:18px;
 font-weight:normal;
 border-bottom:1px dotted var(--baslight-blue);
}

.preferences a:hover,
.preferences a:focus {
 color:var(--baslight-blue);
 border-bottom:1px dotted var(--baslight-blue);
}

.preferences:active a{
 color:var(--basic-black);
 border-bottom:none;
}

.price a{
 color:var(--baslight-blue);
 font-size: 12px;
 line-height: 18px;
 font-weight: normal;
 border-bottom:none;
}

.page-footer {
 background-color:var(translucent-white);
 margin:0 auto;
 width:1200px;
 height: 120px;
}

.map-sedona {
 width:1200px;
 height:594px;
}

.basement-card {
 display:flex;
 justify-content:space-between;
 align-items:center;
 position:absolute;
 top:2645px;
 background-color:var(--translucent-white);
 width:1200px;
 min-height:120px;
}

.basement-catalog {
 display:flex;
 justify-content:space-between;
 align-items:center;
 background-color:var(--translucent-white);
 width:1200px;
 min-height:120px;
}

.contacts {
 font-size: 21px;
 line-height: 26px;
 align-self: center;
 margin: 0;
 min-width: 251px;
 min-height: 52px;
 text-align: center;
 padding-left: 111px;
}

.contacts p {
 margin:0;
}

.tel {
 color:var( --basic-black);
}

.navigation-basement {
 display:flex;
 justify-content:space-around;
 align-items:center;
 width:150px;
 height:50px;
 margin:0 auto;
 padding:0;
}

.social-button {
 display: flex;
 align-items: center;
 justify-content: center;
 background-color:var(--baslight-blue);
 width:46px;
 height:48px;
}

.social-networks:hover a,
.social-networks:focus a{
 background-color:var(--classic-blue);
}

.social-networks:active a{
 background-color:var(--dark-blue);
}

.social-button:active path {
 fill:var(--transparent);    
}

.made {
 display:inline-block;
 line-height: 26px;
 font-weight: normal;
}

.partner{
 padding-right: 137px;
 padding-bottom: 32px;
}

.academy-logo {
 display:inline;
 position: relative;
 top: 15px;
}

.active-button:hover path,
.active-button:focus path{
  fill: var(--baslight-blue);
}

.active-button:active path { 
 fill: var(--grey);
}
 